nav { 
    box-sizing:border-box;
    position:fixed;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    font-family: 'Bungee', cursive;
    background-color: #4056A1;
    color: #FFFFFF;
    z-index: 1;
   }

   nav span#logo {
    font-size:2em;
    margin: 0 0 0.2em 0.5em
   }

   nav span.navCTA {
    font-family: 'Source Sans Pro', sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0 1.5em 0.5em 0;
   }
     
   nav span.navCTA span.icon-angle-double-down { 
    color: #03134c;
    font-size: 1.2em;
    font-weight: 600;
    
    animation: bounce 2s infinite ease-in-out;    
  }

  @keyframes bounce {
    0% { 
      color: #03134c; 
      transform: translateY(0px)
    }
    30% { 
      color:   #03134c; 
      transform: translateY(0px)
    }
    50% { 
      color:  #FFFFFF;
      transform: translateY(10px)
    }
    100% { 
      color: #03134c; 
      transform: translateY(0px)
    }
  }