section.new-tweet > form {
    display: flex;
    flex-direction: column;
}

section.new-tweet > form > div { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
}

textarea#tweet-text {
    outline: none;
    resize: none;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-bottom: solid #333333;
    border-left: none;
    height: 40px;
    margin: 0 0 20px;
    transition: 2s;
}

textarea#tweet-text:focus{
    border-bottom: solid #2347c1;
    transition: 2s;
  }

section.new-tweet > form > div > button{
    background-color: #2347c1;
    color: white;
    font-weight: 600;
    border: solid #2347c1;
}

.characterLimit {
    color: red;
}